<div class="row">
	<div class="col-sm-12 text-left">
		<div class="panel-heading">
			<h2 class="text-center">About this app</h2>			
			<img src="build/img/pokedex-icon.png"  class="img-responsive center-block" alt="pokedex icon">
			<h4 class="text-center"><strong>created by <a href="mailto:pablovalor89@gmail.com">Pablo Valor</a></strong></h4>	
		</div>
	</div>
	<div class="panel-body">
		<div class="col-sm-12">
			<h3 class="text-left">This application was possible thanks to</h3>
		</div>
			<div class="images-brand">
				<div class="col-sm-3">
				<div class="center-block util-padding">
					<img src="build/img/nodejs.png" alt="node logo" class="img-responsive">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="center-block util-padding">
					<img src="build/img/angularjs.png" alt="angular logo" class="img-responsive">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="center-block util-padding">
					<img src="build/img/express.png" alt="express logo" class="img-responsive">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="center-block util-padding">
					<img src="build/img/firebase.png" alt="firebase logo" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</div>