<div>
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h1>Pokédex</h1>
				</div>
				<div class="col-sm-8">
					<h2 class="pull-right">
						Showing <span class="label label-primary">{{pokemons.length}}</span> Pokémons 
						<span ng-if="type" class="label type type-{{type | lowercase}} pull-right">
							{{type}}
						</span>
					</h2>		
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="group in groupped">
		<div class="col-lg-3" ng-repeat="pokemon in group">
			<div class="pokemon panel panel-primary">
				<div class="panel-heading">
					<pokemon-name></pokemon-name>
				</div>
				<div class="panel-body">
					<a href="/#pokemon/{{pokemon.name | normalize}}">
						<pokemon-image></pokemon-image>
					</a>
				</div>
				<div class="panel-footer">
					<pokemon-type></pokemon-type>
				</div>
			</div>	
		</div>
	</div>
</div>