<div>
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<form class="form-horizontal search-pokemon" role="search">
				        <div class="form-group">
				         <input type="text" class="form-control" placeholder="Search Pokemon">
				        </div>
		      		</form>
				</div>
				<div class="col-sm-6">
					<h2 class="text-center">
						Showing <span class="label label-primary">{{pokemons.length}}</span> Pokémons 
					</h2>		
				</div>
				<div class="col-sm-6">
					<h3 ng-if="type" class="text-center">
						Filtered by type
						<span class="label label-primary type-{{type | lowercase}}">
							{{type}}
						</span>
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat="group in groupped">
		<div class="col-lg-3" ng-repeat="pokemon in group">
			<div class="pokemon panel panel-primary">
				<div class="panel-heading">
					<pokemon-name></pokemon-name>
				</div>
				<div class="panel-body">
					<a href="/#pokemon/{{pokemon.name | normalize}}">
						<pokemon-image></pokemon-image>
					</a>
				</div>
				<div class="panel-footer">
					<pokemon-type></pokemon-type>
				</div>
			</div>	
		</div>
	</div>
</div>