@import "variables.less"; 
@import "bootstrap.less";
@import "bootswatch.less";

.avatar {
	max-width: 480px;
	margin-bottom: 20px;
}

.nav-tabs {
	margin-bottom: 10px;
}

body {
	padding-top: 50px;
}

.navbar-brand {
	font-weight: 800;
	img {
		display: inline-block;
		width: 24px;
	}
}

.type- {
	&grass {
		background: @grass;
	}
	&poison {
		background: @poison;
	}
}

ul.abillities{
	li {
		display: inline-block;
		margin-left: 10px;
		padding-right: 10px;
		border-right: 1px solid rgb(255, 202, 202);
		&:last-child {
			border-right: none;
			padding-right: inherit;
		}
	}

}

