@import "variables.less"; 
@import "bootstrap.less";
@import "bootswatch.less";

.avatar {
	max-width: 480px;
	margin-bottom: 20px;
}

.nav-tabs {
	margin-bottom: 10px;
}

body {
	padding-top: 50px;
}

.navbar-brand {
	font-weight: 800;
	img {
		display: inline-block;
		width: 24px;
	}
}

.type- {
	&bug {
		background: @bug;
	}
	&dark {
		background: @dark;
	}
	&dragon {
		background: @dragon;
	}
	&electric {
		background: @electric;
	}
	&ghost {
		background: @ghost;
	}
	&ice {
		background: @ice;
	}
	&grass {
		background: @grass;
	}
	&ground {
		background: @ground;
	}
	&poison {
		background: @poison;
	}
	&fairy {
		background: @fairy;
	}
	&fire {
		background: @fire;
	}
	&fighting {
		background: @fighting; 
	}
	&flying {
		background: @flying;
	}
	&steel {
		background: @steel;
	}
	&rock {
		background: @rock;
	}
	&normal {
		background: @normal;
	}
	&psychic {
		background: @psychic;
	}
	&water {
		background: @water;
	}
}

ul.abillities{
	li {
		display: inline-block;
		margin-left: 10px;
		padding-right: 10px;
		border-right: 1px solid rgb(255, 202, 202);
		&:last-child {
			border-right: none;
			padding-right: inherit;
		}
	}

}
.ng-dirty {
	.ng-valid {
	border-color: green;
	}
	&.ng-invalid{
	border-color: red;
	}
}
