@import "variables.less"; 
@import "bootstrap.less";
@import "bootswatch.less";

.avatar {
	max-width: 480px;
	margin-bottom: 20px;
}

.nav-tabs {
	margin-bottom: 10px;
}

body {
	padding-top: 50px;
}

.navbar-brand {
	font-weight: 800;
	img {
		display: inline-block;
		width: 24px;
	}
}


