<ul class="list-group">
	<li class="list-group-item">
		<strong>Type</strong>
		<a href="/#{{type}}" ng-repeat ="type in pokemon.type">
			<span class="pull-right">
				<span class="label label-primary type-{{type | lowercase}}">
					{{type}}
				</span>	
			</span>
		</a>
	</li>
	<li class="list-group-item">
		<strong>Height</strong><span class="pull-right">{{pokemon.height}}</span>
	</li>
	<li class="list-group-item">
		<strong>Weight</strong><span class="pull-right">{{pokemon.weight}}</span>
	</li>
	<li class="list-group-item">
		<strong>Abillities</strong><span class="pull-right">
			<ul class="abillities">
				<li ng-repeat="ability in pokemon.abillities">
					{{ability}}
				</li>
			</ul>
		</span>
	</li>
</ul>