<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<p class="text-center">
			<button ng-hide="show" ng-click="toggle()" class="btn btn-primary">
				Show comments 
				<span class="badge">
					{{comments.length}}
				</span>
			</button>
		</p>
	</div>
</div>

<div ng-show = "show" class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Comments <button ng-click="toggle()" class="close pull-right">&times;</button></h3>
	</div>
	<div class="panel-body">
		<form name="commentsForm" ng-submit="commentsForm.$valid && addComment()" class="form-horizontal" role="form" noValidate>
			<div class="form-group">
				<div class="col-sm-6">
					<textarea ng-model="comment.body" placeholder="What do you think about {{name}}?" class="form-control" required></textarea>
				</div>
				<div class="col-sm-4">
					<input ng-model="comment.email" ng-disabled="comment.anonymous" type="email" placeholder="Please enter your email address" class="form-control" ng-required="!comment.anonymous">
					<label>
						<input ng-change="anonymousChanged()" ng-model="comment.anonymous" type="checkbox">
						Anonymous
					</label>
				</div>
				<div class="col-sm-2 text-center">
					<button type="submit" class="btn">Comment</button>
				</div>
			</div>
		</form>
		<blockquote ng-repeat = "comment in comments">
			<p>{{comment.body}}</p>
			<footer>
				Comment by 
				<a ng-if="!comment.anonymous" href="mailto:{{comment.email}}">
					{{comment.email}}
				</a>
				<em ng-if= "comment.anonymous">Anonymous</em>
				 on <span>{{comment.date | date: 'medium'}}</span>
			</footer>
		</blockquote>
	</div>
</div>